#carousel {
  list-style-type: none;
}

#carousel li {
  display: none;
}

#carousel li.active {
  display: block;
}

img {
  width: 30%;
}

button {
  margin-top: 1%;
  width: 5%;
  padding: 12px;
  background: #c1fae2;
  border-radius: 13%;
  outline: none;
  border: 1px solid #4a7764;
  cursor: pointer;
}

#button-left {
  margin-left: 7%;
  margin-right: 9%;
}