body {
  margin: -5px 0 0 0 ;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

h2 {
  color: #fff;
  font-size: 54px;
  text-transform: uppercase;
}

h4 {
  font-size: 23px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.display-block {
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.two-from-three {
  width: 66%;
}

.one-from-three {
  width: 34%;
}

.logo-block {
  background-color: #e9eae2;
  height: 36vw;
  background-image: url(images/img.png);
  background-size: 43vw;
  background-repeat: no-repeat;
  background-position: right;
}

.logo-text {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #393d3c;
  max-width: 8%;
  margin-bottom: 6%;
  margin-left: 15%;
}

.logo {
  width: 10vw;
  margin-top: 7%;
  margin-left: 15%;
}

.social-network {
  list-style-type: none;
  margin-left: 17%;
}

.social-icon {
  color: #7acec3;
}

.icon {
  display: inline;
  padding-right: 5px;
  font-size: 25px;
}

.header-image {
  width: 66%;
  margin-right: 5%;
}

.header-icon {
  margin-top: 11%;
  margin-left: 38%;
  margin-bottom: 24%;
  border: 3px solid white;
  padding: 9% 8%;
  width: 3vw;
}

.menu-block {
  background-image: url(images/bg-header.jpg);
  background-size: cover;
  height: 36vw;
  background-repeat: no-repeat;
  background-position: 0 1px;
}

.contact {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

.address {
  margin-bottom: 15%;
  margin-left: 15%;
  letter-spacing: 0.4px;
  line-height: 1.3;
  max-width: 18%;
}

.phone {
  max-width: 25%;
  margin-left: 26%;
}

/* Start Main content*/

.first-block {
  height: 30vw;
  background: url(images/projects.jpg);
  background-repeat: no-repeat;
  background-size: 28vw;
  width: 42%;
  background-position: -2px -2px;
}

.first-block h2 {
  margin-left: 49%;
}

.first-block .fa-arrow-right {
  color: #fff;
  margin-top: 30%;
  font-size: 30px;
  margin-left: 34%;
}

.first-block .bold-text {
  color: #000;
  text-transform: uppercase;
}

.first-block .description {
  color: #fff;
  width: 73px;
  margin-left: 41%;
  margin-bottom: 0.6%;
  display: block;
}

.first-block a:last-of-type {
   margin-bottom: 19%;
}

.second-block {
  height: 30vw;
  width: 58%;
  background-image: url(images/fondue.jpg);
  background-repeat: no-repeat;
  background-size: 35vw;
  background-position: 45px;
}

.second-block h4 {
  margin-top: 16%;
  margin-left: 16%;
  margin-bottom: 4%;
}

.second-block .description {
  margin-left: 16%;
}

.second-block p:last-of-type {
  margin-bottom: 11%;
}

.second-block .uppercase-text {
  margin-left: 16%;
  margin-bottom: 16%;
}

.second-block .likes {
  margin-left: 23%;
}

.second-block .likes .fa-heart {
  margin-bottom: 1%;
}

.third-block {
  height: 31vw;
  background-image: url(images/louis.jpg);
  background-size: 20vw;
  background-repeat: no-repeat;
  width: 30%;
}

.third-block .third-block-align-text {
  margin-left: 10%;
  color: #fff;
  margin-top: 16%;
}

.third-block a {
  color: #fff;
}

.third-block h4 {
  margin-bottom: 8%;
}

.third-block p:last-of-type {
  margin-bottom: 14%;
}

.third-block .uppercase-text {
  margin-bottom: 13%;
}

.third-block .likes {
  margin-left: 19%;
}

.third-block .fa-heart {
  margin-bottom: 3%;
}

.fourth-block {
  height: 31vw;
  background-image: url(images/chairs.jpg);
  background-repeat: no-repeat;
  background-size: 51vw;
  justify-content: center;
  width: 70%;
}

.fourth-block .left-flex-four-block {
  margin: 11% 10% 0 36%;
}

.fourth-block h4 {
  margin-bottom: 14%;
}

.fourth-block .right-flex-four-block {
  margin-top: 11%;
  width: 7vw;
}

.fourth-block .likes {
  margin-left: 44%;
}

.fourth-block .fa-heart {
  margin-bottom: 6%;
}

.fourth-block .uppercase-text {
  margin-bottom: 18%;
}

.fourth-block .uppercase-text .fa-arrow-right {
  margin-right: 5%;
}

.fifth-block {
  height: 20vw;
  background-image: url(images/sesann.jpg);
  background-repeat: no-repeat;
  background-size: 51vw;
  width: 70%;
  background-position-x: center;
  align-items: center;
  justify-content: space-around;
}

.fifth-block .left-flex-fifth-block {
  margin: 27% 0 0 14%;
}

.fifth-block .left-flex-fifth-block h4 {
  margin-bottom: 7%;
}

.fifth-block .right-flex-fifth-block {
  margin-top: 29%;
  width: 15vw;
  margin-right: 11%;
}

.fifth-block a {
  display: inline;
}

.fifth-block .uppercase-text {
  margin-right: 25%;
}

.fifth-block .fa-arrow-right {
  margin-right: 4%;
}

.fifth-block .fa-heart {
  margin-bottom: 4%;
}

.fifth-block .red-number {
  margin-left: 74%;
}

.sixth-block {
  height: 20vw;
  background-image: url(images/alessi.jpg);
  background-repeat: no-repeat;
  background-size: 20vw;
  width: 30%;
}

.sixth-block .sixth-block-align-text {
  margin-top: 27%;
  margin-left: 43%;
}

.sixth-block h4 {
  margin-bottom: 10%;
  margin-left: 17%;
}

.sixth-block .description {
  margin-left: 17%;
}

.sixth-block p:last-of-type {
  margin-bottom: 21%;
}

.sixth-block .fa-arrow-right {
  margin-right: 7%;
}

.sixth-block .uppercase-text {
  margin-bottom: 10%;
}

.sixth-block .likes {
  margin-left: 34%;
}

.sixth-block .fa-heart {
  margin-bottom: 3%;
}

.first-plate {
  background-position: right;
  background-image: url(images/potter.jpg);
  background-repeat: no-repeat;
  background-size: 30vw;
  background-color: #dfe0d9;
  height: 16vw;
}

.first-plate h4 {
  padding: 7% 0 2% 7%;
}

.first-plate .description {
  margin-left: 7%;
}

.first-plate #lowercase-text {
  margin-left: 7%;
  margin-bottom: 2%;
}

.first-plate .uppercase-text {
  margin-left: 7%;
  margin-bottom: 4%;
}

.first-plate .likes {
  margin-left: 16%;
  margin-bottom: 1%;
}

.description {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 100;
}

.bold-text {
  font-weight: 400;
}

#lowercase-text {
  letter-spacing: 0.3px;
  font-size: 12px;
  width: 27%;
  font-weight: 100;
}

.fa-arrow-right {
  color: #ebb240;
  margin-right: 1.5%;
}

.fa-heart {
  font-size: 25px;
}

.uppercase-text {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
}

.red-number {
  color: #ff0000;
  font-size: 11px;
}

.second-plate {
  height: 27vw;
  background-image: url(images/tabano.jpg);
  background-repeat: no-repeat;
  background-size: 29vw;
  background-color: #e9eae2;
  background-position: center;
  justify-content: center;
  align-items: flex-end;
}

.second-plate h4 {
  margin-bottom: 8%;
}

.second-plate .left-flex-second-plate {
  margin-bottom: 6%;
  margin-right: 7%;
}

.second-plate .right-flex-second-plate {
  margin-bottom: 11%;
}

.second-plate .fa-arrow-right {
  margin-right: 7%;
}

.second-plate .uppercase-text {
  margin-right: 6%;
}

.second-plate .red-number {
  margin-left: 85%;
}

.third-plate {
  height: 18vw;
  background-image: url(images/fiji.jpg);
  background-repeat: no-repeat;
  background-size: 34vw;
  background-position: left;
}

.third-plate .third-plate-align-text {
  padding-left: 55%;
  padding-top: 11%;
}

.third-plate h4 {
  margin-bottom: 10%;
}

.third-plate p:last-of-type {
  margin-bottom: 14%;
}
.third-plate .uppercase-text {
  margin-bottom: 14%;
}

.third-plate .fa-arrow-right {
  margin-right: 4%;
}

.third-plate .likes {
  margin-left: 23%;
}

.third-plate .fa-heart {
  margin-bottom: 3%;
}

.fourth-plate {
  background: url(images/timeline.jpg);
  height: 20vw;
  background-repeat: no-repeat;
  background-size: 34vw;
}

.fourth-plate h5 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding-top: 12%;
  padding-left: 20%;
  padding-bottom: 2%;
}

.fourth-plate .fa-arrow-right {
  color: #fff;
  font-size: 29px;
  margin-left: 14%;
}

.fourth-plate .year {
  font-weight: 100;
  max-width: 35px;
  color: #fff;
  font-size: 18px;
  margin-left: 20%;
  display: block;
}

.fourth-plate #margin-top {
  margin-top: -3%;
}

.studio-block-one {
  height: 36vw;
  background-image: url(images/studio.jpg);
  background-size: 34vw;
  background-repeat: no-repeat;
  background-position-y: -3px;
}

.studio-block-one h2 {
  margin-top: 60%;
  margin-left: 50%;
}

.studio-block-two {
  background-color: #e9eae2;
  height: 36vw;
  justify-content: flex-start;
}

.description-studio-block {
  width: 21vw;
  margin: 8% 6% 0 11%;
}

.description-studio-block .italic {
  color: #333;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.description-studio-block p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.description-studio-block p:nth-child(1) {
  margin-bottom: 6%;
}

.description-studio-block p:nth-child(2) {
  margin-bottom: 10%;
}

.description-studio-block p:nth-child(3) {
  margin-bottom: 5%;
}

.description-studio-block p:nth-child(4) {
  margin-bottom: 5%;
}

.contact-studio-block {
  width: 23vw;
}

.contact-studio-block img {
  width: 23vw;
  margin-top: 23%;
  margin-bottom: 11%;
}

.contact-studio-block h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid #bfc0b9;
  margin-bottom: 6%;
}

.contact-studio-block .left-contact,
.contact-studio-block .right-contact {
  width: 10vw;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.info-plate {
  height: 27vw;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #e9eae2;
}

.info-text {
  margin-left: 10%;
}

.info-plate .info-text {
  width: 17vw;
}

.info-text h5 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 8%;
}

.info-text p {
  font-size: 17px;
  font-weight: 100;
  color: #3f3f3f;
  line-height: 1.2;
}

.info-text p:nth-child(2) {
  margin-bottom: 8%;
}

.info-text p:nth-child(3) {
  margin-bottom: 8%;
}

.info-plate img {
  width: 18vw;
  margin-bottom: 8%;
}

.info-plate .description {
  margin-bottom: 8%;
}

.info-plate a {
  color: #fd5000;
  text-transform: uppercase;
  font-size: 19px;
}

.info-plate .fa-arrow-left {
  margin-right: 38%;
}

.info-plate .info-block-one .fa-arrow-left {
  margin-right: 34%;
}

.info-plate .fa-arrow-left {
  color: #fd5000;
  margin-left: 3%;
  font-size: 20px;
}

.info-plate .social-network {
  display: inline;
}

.info-plate .icon {
  font-size: 19px;
  color: #fd5000;
}

.info-plate .info-block-one img {
  width: 16.5vw;
  height: 10vw;
}

.info-block-three {
  margin-right: 10%;
}

.news-plate {
  background-color: #e5e9df;
  height: 36vw;
}

.news-plate .one-from-three {
  background-image: url(images/news.jpg);
  background-repeat: no-repeat;
  background-size: 34vw;
  background-position: 0px;

}

.news-plate h2 {
  margin-top: 60%;
  margin-left: 50%;
}

.news-plate .two-from-three {
  justify-content: space-around;
}

.two-from-three .left-plate,
.two-from-three .right-plate {
  width: 26vw;
  margin-top: 9%;
}

.news-plate .two-from-three img {
  width: 26vw;
  margin-bottom: 5%;
}

.news-plate .two-from-three h3 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
}

.news-plate .two-from-three .left-plate {
  margin-left: 7%;
}

.news-plate .two-from-three .right-plate {
  margin-right: 7%;
}

.news-plate .two-from-three .left-plate h3 {
  margin-bottom: 1%;
}

.news-plate .two-from-three .right-plate h3 {
  margin-bottom: 7%;
  margin-right: 6%;
}

.news-plate .two-from-three span {
  margin-bottom: 4%;
}

.news-plate .two-from-three p {
  color: #6a6969;
  font-size: 17px;
  font-weight: 400;
  word-spacing: 6px;
  margin-bottom: 3%;
}

.news-plate .two-from-three .link {
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 85%;
  color: #fd5000;
}

.footer-section {
  background-color: #e9eae2;
  height: 42vw;
}

.footer-left {
  width: 50%;
  background-image: url(images/map.jpg);
  background-repeat: no-repeat;
  background-size: 50vw;
  height: 42vw;
}

.footer-right {
  width: 50%;
}

.footer-right .flex {
  justify-content: center;
}

.footer-address {
  text-transform: uppercase;
  margin-top: 19%;
}

.footer-address .address {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  max-width: 25%;
  margin: 0;
  margin-bottom: 4%;
}

.footer-address .phone {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  max-width: 32%;
  margin: 0;
}

.footer-logo {
  margin-top: 19%;
}

.footer-logo img {
  width: 10vw;
}

.footer-logo .logo-text {
  margin-left: 0;
  margin-bottom: 35%;
}

.footer-logo .icon {
  font-size: 30px;
}

.footer-logo .social-network {
  margin-bottom: 62%;
}

.footer-logo .icon a {
  color: #7acec3;
}

.footer-right .footer-info {
  margin-left: 17%;
}

.footer-right .fa-copyright {
  margin-right: 1%;
}